@charset "UTF-8";
/*--------------------------------------------------------------
# ミックスイン
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# 基本設定
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.7;
  word-break: break-word;
  overflow-wrap: break-word;
  background-color: #ffe7c7;
}

img {
  max-width: 100%;
  height: auto;
  font-size: 0;
  line-height: 0;
  vertical-align: bottom;
  border: none;
  transition: opacity 0.2s;
}

#content {
  min-height: calc(100vh - 100px - 243px);
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.message {
  font-size: 15px;
  padding: 10px 50px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(133, 254, 162, 0.8);
  color: #155724;
  border: 1px solid #c3e6cb;
  max-width: 300px;
  position: absolute;
  top: 73px;
  left: 20px;
  z-index: 1000;
  animation: fadeInLeft 0.5s ease-in-out;
}
.message.notice {
  background-color: rgba(133, 254, 162, 0.9);
  color: #155724;
  border: 1px solid rgba(133, 254, 162, 0.7);
}
.message.alert {
  background-color: rgba(247, 174, 180, 0.9);
  color: #721c24;
  border: 1px solid rgba(247, 174, 180, 0.7);
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 896px) {
  .message {
    font-size: 10px;
    padding: 6px 10px;
    max-width: 90%;
    top: 51px;
    left: 3%;
  }
}

.container {
  padding: 60px 0;
}
@media screen and (max-width: 896px) {
  .container {
    padding: 0;
  }
}

.login-container,
.signup-container,
.forgot-password-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}
@media screen and (max-width: 896px) {
  .login-container,
  .signup-container,
  .forgot-password-container {
    border: none;
    border-radius: none;
  }
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-item {
  margin-bottom: 20px;
}
.form-item label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}
.form-item .form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-item .form-check-input {
  margin-right: 10px;
}
.form-item .form-check-label {
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #4caf93;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: #45a488;
}

.or-divider {
  text-align: center;
  margin: 20px 0;
}
.or-divider span {
  background-color: #fff;
  padding: 0 10px;
  font-size: 14px;
}
.or-divider::before, .or-divider::after {
  content: "";
  display: inline-block;
  width: 24%;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
}
.or-divider::before {
  margin-right: 10px;
}
.or-divider::after {
  margin-left: 10px;
}

.links {
  text-align: center;
}
.links a {
  display: block;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 5px 0;
}
.links a:hover {
  text-decoration: underline;
}

.header {
  background-color: #ff7e5f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1000;
}
.header__container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
}
.header__page-title h1 {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
@media screen and (max-width: 896px) {
  .header__page-title h1 {
    font-size: 15px;
  }
}
.header__menu-container {
  display: flex;
  margin: 0;
}
@media screen and (max-width: 896px) {
  .header__menu-container {
    display: block;
    flex-direction: column;
    background: rgba(255, 126, 95, 0.95);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
    z-index: 999;
  }
}
.header__menu-item {
  margin-right: 70px;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.header__menu-item:last-child {
  margin-right: 0;
}
.header__menu-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}
.header__menu-item:hover {
  color: #f0f0f0;
}
.header__menu-item:hover:after {
  width: 100%;
}
@media screen and (max-width: 896px) {
  .header__menu-item {
    margin: 20px 0;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
}
.header__menu-link {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  padding: 10px 0;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header__menu-link:hover {
  font-weight: bold;
}
@media screen and (max-width: 896px) {
  .header__menu-link {
    width: 100%;
  }
  .header__menu-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.header__hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
}
@media screen and (max-width: 896px) {
  .header__hamburger {
    display: flex;
  }
}
.header__hamburger .bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
.header__menu-toggle {
  display: none;
}
@media screen and (max-width: 896px) {
  .header__menu-toggle:checked ~ .header__menu-container {
    max-height: 500px; /* メニュー展開時の最大高さ */
    opacity: 1;
    padding: 10px 10px 50px;
  }
  .header__menu-toggle:checked ~ .header__menu-container .header__menu-item {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
